<template>
  <div class="ml-80 relative">
    <div class="absolute bottom-0 w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
      <thead>
        <tr>
          <th scope="col" class="px-10 py-5">ID</th>
          <th scope="col" class="px-10 py-5">Nome</th>
          <th scope="col" class="px-10 py-5">Preço</th>
          <th scope="col" class="px-10 py-5">Categoria</th>
          <th scope="col" class="px-10 py-5">Quantidade Venda</th>
        </tr>
      </thead>
    </div>
  </div>
</template>
